* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

img{
    border-radius: 20px;
}

body{
    background-color: rgb(58, 57, 57);
    text-align: center;    
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}



table{
    margin: 0 auto;
}
header{
    margin: 50px;
}
div{
    margin: 50px;
}
footer{
    margin: 50px;
}